<%= form_with model: @carro, url: carro_path(@carro), method: :patch do |form| %>
  <div>
    <label for="marca">Marca:</label>
    <%= form.text_field :marca %>
  </div>

  <div>
    <label for="modelo">Modelo:</label>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <label for="ano">Ano:</label>
    <%= form.number_field :ano %>
  </div>

  <div>
    <%= form.submit "Atualizar Carro" %>
  </div>
<% end %>