<h1>Carros</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Ano</th>
    </tr>
  </thead>
  <tbody>
    <% @carros.each do |carro| %>
      <tr>
        <td><%= carro.id %></td>
        <td><%= carro.marca %></td>
        <td><%= carro.modelo %></td>
        <td><%= carro.ano %></td>
        <td>
          <%= link_to 'Mostrar', carros_show_path(carro.id) %>
          <%= link_to 'Editar', carros_edit_path(carro.id) %>
          <%= link_to 'Excluir', carros_destroy_path(carro.id), method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Carro', {:controller => 'carros', :action => 'new'} %>