<%= form_with model: @carro, url: carros_path, method: :post do |form| %>
  <div>
    <label for="carro_marca">Marca:</label>
    <%= form.text_field :marca, id: "carro_marca", required: true %>
  </div>
  
  <div>
    <label for="carro_modelo">Modelo:</label>
    <%= form.text_field :modelo, id: "carro_modelo", required: true %>
  </div>
  
  <div>
    <label for="carro_ano">Ano:</label>
    <%= form.number_field :ano, id: "carro_ano", required: true %>
  </div>
  
  <div>
    <%= form.submit "Criar Carro" %>
  </div>
<% end %>