<h1>Carro Details</h1>

<p>
  <strong>ID:</strong>
  <%= @carro.id %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @carro.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @carro.modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @carro.ano %>
</p>

<%= link_to 'Back to List', carros_path %>